main{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


.tituloagenda1, .tituloagenda2, .tituloagenda3, .tituloagenda4{
    margin: 0;
    padding: 0; 
    font-family: "rennie_mackintoshregular";
    text-transform: uppercase;
  }
  
.tabletexto{
    padding-right: 5%;
    font-size: large;
    color: white;
}
.tituloagenda1, .tituloagenda3, .tituloagenda4{
    text-align: center;
}

.tituloagenda1{
    margin-top: 1%;
    font-size: 80px;
    color: white;
}
  
.tituloagenda2, .tituloagenda4{
    font-size: xx-large;
    color:white;
}
.tituloagenda3{
    margin-top: 5%;
    font-size: 60px;
    color:#ca1926;
}


div.gallery {
    margin: 5% 2% 5% 2%;
    width: 45%;
    display: inline-block;
}

div.gallery img {
width: 100%;
height: auto;
}

  
.circo{
    background-image: url("../img/carpanegra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    text-align: center;
    width: 100%;
    height: 60vh;
}

.agendatable{
    margin-top: 7%;
}

.fototable{
    width: 50%;  
}

.fotoagenda{ 
    width: 100%; 
    padding: 1%;
}

