.table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.taulaimatgeprincipal{
    width: 40%; 
    padding-right: 6%;
    
}

.imagenprincipal{
    width: 100%; height: 100%;
    padding: 1%;   
}

.titulo, .tabletexto, .titulonoticia{
    color:white;
}

.titulo{
    font-family: "rennie_mackintoshregular";
    text-transform: uppercase;
    font-size: xx-large;
}

.taulanoticia{
    width: 20%; 
     
}

.fotonoticia{ 
    width: 90%; height: 90%;
    padding: 1%;
}

.titulonoticia{
    font-size: large;   
}






