main{
    width: 70%;
    margin: 0 15% 0 15%;
}

video{
    width: 80%;
    margin: 0 10% 5% 10%;  
}

.titulovideo{
    padding-top: 2%;
    text-align: center;
    font-size: 60px;
    font-family: "rennie_mackintoshregular";
    text-transform: uppercase;
    color:#ca1926;
}

